{% comment %} General {% endcomment %}
<title>
    {%- if data.seo.title -%}
        {{- data.seo.title -}}
    {%- else -%}
        {{- data.title -}}
    {%- endif %}
    •
    {{ site_settings.title -}}
</title>
<meta
    name="description"
    content="{%- if data.seo.description -%}{{ data.seo.description }}{%- else -%}{{ site_settings.description }}{%- endif -%}"
>
<link rel="canonical" href="{{ site_settings.domain | append: page.url }}">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="robots" content="index, follow">
{% comment %} Basic OpenGraph {% endcomment %}
<meta
    property="og:title"
    content="{%- if data.open_graph.title -%}{{ data.open_graph.title }}{%- elsif data.seo.title -%}{{ data.seo.title }}{%- else -%}{{ data.title }}{%- endif -%}"
>
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site_settings.domain | append: page.url }}">
<meta
    property="og:image"
    content="{%- if data.open_graph.image.asset -%}{% og_image data.open_graph.image site_settings.domain %}{%- else -%}{{ site_settings.default_og_image }}{%- endif -%}"
>
{% comment %} Optional OpenGraph {% endcomment %}
<meta
    property="og:description"
    content="{%- if data.seo.description -%}{{ data.seo.description }}{%- else -%}{{ site_settings.description }}{%- endif -%}"
>
<meta property="og:site_name" content="{{ site_settings.title }}">
<meta property="og:locale" content="en_US">
{% comment %} Favicon {% endcomment %}
{% comment %}
    <link rel="icon" type="image/png" href="" sizes="32x32">
    <link rel="icon" type="image/png" href="" sizes="16x16">
    <link rel="shortcut icon" href="">
{% endcomment %}
<link rel="icon" type="image/svg+xml" href="/svg/chain-stitch-loop-dark.svg">
<link rel="shortcut icon" href="/svg/chain-stitch-loop-dark.svg">
